.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: .2fr .4fr 1fr 1fr 1fr;
  grid-template-areas: 
    "header header shop"
    "user-name jokes shop"
    "total-donuts green-area auto-clicker-green"
    "click-area blue-area auto-clicker-blue"
    "click-area red-area auto-clicker-red"
    "footer footer footer";
  gap: .5rem;
  text-align: center;
  height: 96vh;
}

header {
  background: rgb(255, 232, 183);
  grid-area: header;
  text-align: left;
}

#jokes {
  background: rgb(255, 232, 183);
  grid-area: jokes;
}

#random-jokes-area {
  font-size: 1.3rem;
}

#shop {
  background: rgb(255, 232, 183);
  grid-area: shop;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
}

.shop-name {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

.reset-button {
  grid-column: 3;
  grid-row: 2;
  background: #000;
  color: white;
  font-size: 2rem;
  margin-right: 10px;
}

#buy-button {
  grid-column: 1;
  grid-row: 2;
  background: rgb(253, 205, 132);
  font-size: 2rem;
  margin-left: 10px;
}

#sell-button {
  grid-column: 2;
  grid-row: 2;
  font-size: 2rem;
}

.optionOne {
  grid-column: 1;
  grid-row: 3;
  background: rgb(253, 205, 132);
  font-size: 1.5rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

.optionTen {
  grid-column: 2;
  grid-row: 3;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.optionFifty {
  grid-column: 3;
  grid-row: 3;
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

#user-name {
  background: rgb(255, 232, 183);
  grid-area: user-name;
}

#total-donuts {
  background: rgb(255, 232, 183);
  grid-area: total-donuts;
}

#click-area {
  background: rgb(255, 232, 183);
  grid-area: click-area;
  cursor: pointer;
}

#green {
  background: #e8f3db;
  grid-area: green-area;
  text-align: left;
}

#auto-clicker-green {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-green;
  cursor: pointer;
}

#blue {
  background: #cdeefd;
  grid-area: blue-area;
  text-align: left;
}

#auto-clicker-blue {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-blue;
  cursor: pointer;
}

#red {
  background: #ffeded;
  grid-area: red-area;
  text-align: left;
}

#auto-clicker-red {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-red;
  cursor: pointer;
}

footer {
  background: rgb(255, 232, 183);
  grid-area: footer;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#img {
  height: 320px;
  width: auto;
}

button:active {
  transform: scale(0.9);
}

button {
  border-radius: 12px;
}

#donut-img {
  height: 100%;
  width: 100%;
  transform: scale(0.9);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#btn-user-name {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background: rgb(255, 232, 183);
  opacity: 0.6;
  transition: 0.3s;
  padding: 14px 28px;
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 1px;
}

#btn-user-name:hover {
  opacity: 1
}

.header-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.user-name-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  text-align: center;
}

#input-user-name {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 2rem;
}

#user-name .btn {
  margin: 0 10px;
  border-radius: 1px;
  height: 30px;
}

#user-name h2 {
  margin: 0;
}

.total-donut-count {
  font-size: 5rem;
  margin: 20px;
}

.donut-texts {
  font-size: 2rem;
  margin: 5px;
}

.price-texts {
  font-size: 3.5rem;
  margin: 20px;
}

.auto-clickers {
  font-size: 1.2rem;
  margin: 5px;
}

button {
  cursor: pointer;
}

#baking-company {
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
}

#cookie-clicker {
  font-size: 1.5rem;
  margin: 10px 10px 10px 0;
  padding: 5px;
}

#contact-info {
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
  float: right;
}

.profile-image {
  border-radius: 50%;
}

#donut-img:hover {
  animation: shake .5s;
  animation-iteration-count: infinite;
}

.animate {
  position:relative;
  animation:animatetop 3s;
}

@keyframes animatetop {
  from {
    top:-5x;
    opacity:0;
  } 
  to {
    top:0;
    opacity:1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width:1630px) {
  #buy-button {
    font-size: 2rem;
    height:45px;
    width:120px;
  }

  #sell-button {
    font-size: 2rem;
    height:45px;
    width:120px;
  }

  .reset-button {
    font-size: 1.7rem;
    height:45px;
    width:120px;
  }
  
  .optionOne {
    font-size: 1.5rem;
    height:30px;
    width:120px;
  }
  
  .optionTen {
    font-size: 1.5rem;
    height:30px;
    width:120px;
  }
  
  .optionFifty {
    font-size: 1.5rem;
    height:30px;
    width:120px;
  }

  #img {
    height: 250px;
  }

  .user-name-content {
    width: 30%;
  }
}

@media only screen and (max-width:1265px) {
  #baking-company {
    font-size: 1.3rem;
  }

  #cookie-clicker {
    font-size: 1.3rem;
  }

  #contact-info {
    font-size: 1.3rem;
  }

  #img {
    height: 230px;
  }

  #random-jokes-area {
    font-size: 1rem;
  }
}

@media only screen and (max-width:1165px) {
  #baking-company {
    font-size: 1.1rem;
  }

  #cookie-clicker {
    font-size: 1.1rem;
  }

  #contact-info {
    font-size: 1.1rem;
  }

  #buy-button {
    font-size: 1.5rem;
    height:38px;
    width:100px;
  }

  #sell-button {
    font-size: 1.5rem;
    height:38px;
    width:100px;
  }

  .reset-button {
    font-size: 1.3rem;
    height:38px;
    width:100px;
  }
  
  .optionOne {
    font-size: 1rem;
    height:28px;
    width:100px;
  }
  
  .optionTen {
    font-size: 1rem;
    height:28px;
    width:100px;
  }
  
  .optionFifty {
    font-size: 1rem;
    height:28px;
    width:100px;
  }

  #btn-user-name {
    font-size: 2rem;
  }

  #img {
    height: 200px;
  }
}

@media only screen and (max-width:1005px) {
  #baking-company {
    font-size: .8rem;
  }

  #cookie-clicker {
    font-size: .8rem;
  }

  #contact-info {
    font-size: .8rem;
  }

  #buy-button {
    font-size: 1.2rem;
    height:35px;
    width:80px;
  }

  #sell-button {
    font-size: 1.2rem;
    height:35px;
    width:80px;
  }

  .reset-button {
    font-size: 1rem;
    height:35px;
    width:80px;
  }
  
  .optionOne {
    font-size: .8rem;
    height:25px;
    width:80px;
  }
  
  .optionTen {
    font-size: .8rem;
    height:25px;
    width:80px;
  }
  
  .optionFifty {
    font-size: .8rem;
    height:25px;
    width:80px;
  }

  #btn-user-name {
    font-size: 1.5rem;
  }

  #img {
    height: 170px;
  }

  #input-user-name {
    height: 25px;
    width: 230px;
    font-size: 1rem;
  }

  #user-name .btn {
    height: 25px;
  }

  h2 {
    font-size: 1.1rem;
  }

  .user-name-content {
    width: 30%;
  }
}

@media only screen and (max-width:800px) {
  #baking-company {
    font-size: .6rem;
  }

  #cookie-clicker {
    font-size: .6rem;
  }

  #contact-info {
    font-size: .6rem;
  }

  #buy-button {
    font-size: 1rem;
    height:35px;
    width:50px;
  }

  #sell-button {
    font-size: 1rem;
    height:35px;
    width:50px;
  }

  .reset-button {
    font-size: .7rem;
    height:35px;
    width:50px;
  }
  
  .optionOne {
    font-size: .6rem;
    height:25px;
    width:50px;
  }
  
  .optionTen {
    font-size: .6rem;
    height:25px;
    width:50px;
  }
  
  .optionFifty {
    font-size: .6rem;
    height:25px;
    width:50px;
  }

  #btn-user-name {
    font-size: 1rem;
  }

  #img {
    height: 100px;
  }

  #random-jokes-area {
    font-size: .8rem;
  }

  #input-user-name {
    height: 25px;
    width: 130px;
    font-size: 1rem;
  }

  #user-name .btn {
    height: 25px;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
  }

  .user-name-content {
    width: 40%;
  }

  .shop-name {
    font-size: 1rem;
  }

  .total-donut-count {
    font-size: 3rem;
  }

  .donut-texts {
    font-size: 1rem;
  }

  .price-texts {
    font-size: 2.5rem;
  }

  .auto-clickers {
    font-size: .8rem;
  }

  p {
    font-size: .8rem;
  }

  footer {
    font-size: .8rem;
  }
}

@media only screen and (max-width:605px) {
  #baking-company {
    font-size: .2rem;
    margin: 0;
  }

  #cookie-clicker {
    font-size: .3rem;
  }

  #contact-info {
    font-size: .3rem;
    margin: 0;
    margin-top: 10px;
  }

  #buy-button {
    font-size: .8rem;
    height:35px;
    width:40px;
  }

  #sell-button {
    font-size: .8rem;
    height:35px;
    width:40px;
  }

  .reset-button {
    font-size: .5rem;
    height:35px;
    width:40px;
  }
  
  .optionOne {
    font-size: .5rem;
    height:25px;
    width:40px;
  }
  
  .optionTen {
    font-size: .5rem;
    height:25px;
    width:40px;
  }
  
  .optionFifty {
    font-size: .5rem;
    height:25px;
    width:40px;
  }

  #btn-user-name {
    font-size: .6rem;
  }

  #img {
    height: 50px;
  }

  #random-jokes-area {
    font-size: .4rem;
  }

  #input-user-name {
    height: 25px;
    width: 130px;
    font-size: 1rem;
  }

  #user-name .btn {
    height: 25px;
    margin: 0;
  }

  h2 {
    font-size: .8rem;
  }

  .shop-name {
    font-size: .8rem;
  }

  .total-donut-count {
    font-size: 2rem;
  }

  .donut-texts {
    font-size: .8rem;
  }

  .price-texts {
    font-size: 1.5rem;
  }

  .auto-clickers {
    font-size: .6rem;
  }

  p {
    font-size: .6rem;
  }

  footer {
    font-size: .6rem;
  }
}