.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: .2fr .4fr 1fr 1fr 1fr auto;
  grid-template-areas: 
    "header header shop"
    "user-name jokes shop"
    "total-donuts green-area auto-clicker-green"
    "click-area blue-area auto-clicker-blue"
    "click-area red-area auto-clicker-red"
    "footer footer footer";
  gap: .5rem;
  text-align: center;
  height: 96vh;
}

header {
  background: rgb(255, 232, 183);
  grid-area: header;
}

#jokes {
  background: rgb(255, 232, 183);
  grid-area: jokes;
}

#random-jokes-area {
  font-size: 1.3rem;
}

#shop {
  background: rgb(255, 232, 183);
  grid-area: shop;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .3fr 1.5fr 1.2fr;
  gap: .5rem;
}

.shop-name {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
}

.reset-button {
  grid-column: 3;
  grid-row: 2;
  background: #000;
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

#buy-button {
  grid-column: 1;
  grid-row: 2;
  background: rgb(253, 205, 132);
  font-size: 1.2rem;
  margin-left: 10px;
}

#sell-button {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.2rem;
}

.optionOne {
  grid-column: 1;
  grid-row: 3;
  background: rgb(253, 205, 132);
  font-size: 1rem;
  margin: 0 0 10px 10px;
}

.optionTen {
  grid-column: 2;
  grid-row: 3;
  font-size: 1rem;
  margin-bottom: 10px;
}

.optionFifty {
  grid-column: 3;
  grid-row: 3;
  font-size: 1rem;
  margin: 0 10px 10px 0;
}

#user-name {
  background: rgb(255, 232, 183);
  grid-area: user-name;
}

#total-donuts {
  background: rgb(255, 232, 183);
  grid-area: total-donuts;
}

#click-area {
  background: rgb(255, 232, 183);
  grid-area: click-area;
  cursor: pointer;
}

#green {
  background: #e8f3db;
  grid-area: green-area;
  text-align: left;
}

#auto-clicker-green {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-green;
  cursor: pointer;
}

#blue {
  background: #cdeefd;
  grid-area: blue-area;
  text-align: left;
}

#auto-clicker-blue {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-blue;
  cursor: pointer;
}

#red {
  background: #ffeded;
  grid-area: red-area;
  text-align: left;
}

#auto-clicker-red {
  background: rgb(255, 232, 183);
  grid-area: auto-clicker-red;
  cursor: pointer;
}

footer {
  background: rgb(255, 232, 183);
  grid-area: footer;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#img {
  height: 320px;
  width: auto;
}

button:active {
  transform: scale(0.9);
}

button {
  border-radius: 12px;
}

#donut-img {
  height: 100%;
  width: 100%;
  transform: scale(0.9);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#btn-user-name {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background: rgb(255, 232, 183);
  opacity: 0.6;
  transition: 0.3s;
  padding: 14px 28px;
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 1px;
}

#btn-user-name:hover {
  opacity: 1;
  background: rgb(253, 205, 132);
}

.header-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.user-name-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  text-align: center;
}

#input-user-name {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 2rem;
}

#user-name .btn {
  margin: 0 10px;
  border-radius: 1px;
  height: 30px;
}

#user-name h2 {
  margin: 0;
}

.total-donut-count {
  font-size: 5rem;
  margin: 20px;
}

.total-donuts-per-second {
  font-size: 2rem;
  margin: 5px;
}

.price-texts {
  font-size: 3.5rem;
  margin: 20px;
}

.auto-clickers {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background: rgb(255, 232, 183);
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(253, 205, 132);
  color: black;
}

.topnav .icon {
  display: none;
}

#contact-info {
  float: right;
}

.profile-image {
  border-radius: 50%;
}

#donut-img:hover {
  animation: shake .5s;
  animation-iteration-count: infinite;
}

.animate {
  position:relative;
  animation:animatetop 3s;
}

@keyframes animatetop {
  from {
    top:-5x;
    opacity:0;
  } 
  to {
    top:0;
    opacity:1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (max-width: 1100px) {
  #btn-user-name {
    font-size: 2rem;
  }

  #random-jokes-area {
    font-size: 1.1rem;
  }

  .header-content {
    width: 80%;
  }

  .user-name-content {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  #btn-user-name {
    font-size: 1.5rem;
  }

  #random-jokes-area {
    font-size: 1rem;
  }

  .total-donut-count {
    font-size: 4rem;
  }

  .total-donuts-per-second {
    font-size: 1.2rem;
  }

  .price-texts {
    font-size: 2.5rem;
  }

  .auto-clickers {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  #btn-user-name {
    font-size: 1.2rem;
  }

  #random-jokes-area {
    font-size: 12px;
  }

  .total-donut-count {
    font-size: 3rem;
  }

  .total-donuts-per-second {
    font-size: 1rem;
  }

  .price-texts {
    font-size: 2rem;
  }

  .auto-clickers {
    font-size: 1rem;
  }

  #img {
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .topnav a:not(:nth-last-child(2)) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  #contact-info {
    float: left;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #btn-user-name {
    font-size: 1rem;
  }

  .total-donut-count {
    font-size: 2rem;
  }

  .total-donuts-per-second {
    font-size: 12px;
  }

  .price-texts {
    font-size: 1.5rem;
  }

  .auto-clickers {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr .4fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "header shop"
      "user-name shop"
      "total-donuts auto-clicker-green"
      "click-area auto-clicker-blue"
      "click-area auto-clicker-red"
      "jokes green-area"
      "blue-area red-area"
      "footer footer";
  }
  
  #btn-user-name {
    font-size: 12px;
  }

  .total-donuts-per-second {
    font-size: 12px;
  }

  .auto-clickers {
    font-size: 12px;
  }

  #img {
    height: 100px;
  }

  footer {
    font-size: 12px;
  }

  #shop button, .shop-name {
    font-size: 12px;
  }

  .topnav a {
    font-size: 12px;
  }
}


@media screen and (max-width: 500px) {
  #btn-user-name {
    font-size: 10px;
  }

  #random-jokes-area {
    font-size: 10px;
  }

  .total-donuts-per-second {
    font-size: 10px;
  }

  .auto-clickers {
    font-size: 10px;
  }

  footer {
    font-size: 10px;
  }

  #shop button, .shop-name {
    font-size: 10px;
  }

  .topnav a {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  #btn-user-name {
    font-size: 8px;
  }

  #random-jokes-area {
    font-size: 8px;
  }

  .total-donuts-per-second {
    font-size: 8px;
  }

  .auto-clickers {
    font-size: 8px;
  }

  footer {
    font-size: 8px;
  }

  #shop button, .shop-name {
    font-size: 8px;
  }

  .topnav a {
    font-size: 8px;
  }

  #input-user-name {
    width: 200px;
    height: 30px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  #btn-user-name {
    font-size: 7px;
  }

  #random-jokes-area {
    font-size: 7px;
  }

  .total-donuts-per-second {
    font-size: 7px;
  }

  .auto-clickers {
    font-size: 7px;
  }

  footer {
    font-size: 7px;
  }

  #shop button, .shop-name {
    font-size: 7px;
  }

  .topnav a {
    font-size: 7px;
  }
}